@import url('https://fonts.googleapis.com/css?family=Roboto');
*
{
    /*font-family: 'Roboto', Times, serif;*/
    font-family: 'Press Start 2P', cursive;
    margin:0%;
    padding:0%;
}

body
{
    
    color:white;
    background:#2c3e50;
}
.menu
{
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 5;
    /*background-color: rgba(255, 255, 255, 0.5);*/
   background-color:#2c3e50;
   
}
.menu-pausa
{
    background-color: rgba(44, 62, 80, 0.5);
    
    -webkit-box-shadow: inset 0px 0px 250px 50px rgba(44, 62, 80,0.75);
    -moz-box-shadow: inset 0px 0px 250px 50px rgba(44, 62, 80,0.75);
    box-shadow: inset 0px 0px 250px 50px rgba(44, 62, 80,0.75);
    /*
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow:    0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    box-shadow:         0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    */
    /*
    -webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter:url(#blurLayer);
    filter: blur(15px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
    opacity: .9;
    */
}
.section
{
    text-align: center;
    
    align-content: center;
    
   margin:auto;
   margin-top:2%;
    /*background-color: rgb(0, 128, 167);*/
    background:#2c3e50;
    width:50%;
    border-radius: 5px;
    padding:1%;
    box-sizing: border-box;
    max-height: 90%;
    overflow: auto;


    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.75);

   
}
.section .btn
{
    margin-top: 5px;
    width:45%;
    box-sizing: border-box;
}
.section .btn.angle
{
    display: inline-block;
    width:5%;
    height: 60px;
    box-sizing: border-box;
    margin:0px;
}
.section .ldb-title
{
    width:100%;
    color:black;
    background-color: whitesmoke;
}
.section .ldb-title-desc
{
    text-align: center;
    align-content: center;
    height: 80px;
    display: inline-block;
    padding-top:20px;
    width:80%;
    color:black;
    background-color: whitesmoke;
    box-sizing: border-box;
}
.btn:hover
{
    color:white;
    background-color: rgb(50,50,50);
}
.btn
{
    cursor: pointer;
    border-radius: 5px;
    padding: 1%;
    border:0px;
    box-sizing: border-box;
    
}
.input
{
    border-radius: 5px;
    font-size: 20px;
    padding: 1.5%;
    border:0px;
    width:90%;
    color:#2c3e50;
    margin-top:0.5%;
    margin-bottom:0.5%;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.75);

    box-sizing: border-box;
}
.banner
{
    
    overflow: hidden;
    height: auto;
    width:100%;
    margin-bottom:10px;
}
.leaderboard
{
    
    padding:1%;
    margin:auto;
    width:90%;
    border-radius: 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
}
.leaderboard > span
{
    display:inline-block;
    
    color:black;
    background-color: whitesmoke;
    padding:1%;
    box-sizing: border-box;
}
.ldb-table 
{
    width: 100%;
    
    border-collapse:collapse;
    
}
.ldb-table th
{
    padding:1%;
}
.ldb-table td
{
    padding:1.5%;
}
.ldb-h
{
    
    color:white;
    background:#2c3e50;
}
.ldb-table tr
{
    color:black;
    background-color: whitesmoke;
}
.ldb-table tr:hover
{
    color:white;
    background-color: rgb(50,50,50);
}
/*
.ldb-table tr:nth-child(2n):hover
{
    color:black;
    background-color: #ecf0f1;
}
.ldb-table tr:nth-child(2n+1):hover
{
    color:black;
    background-color: gray;
}
*/

.leaderboard .ldb-pos
{
    width:50%;
    text-align: right;
}
.leaderboard .ldb-player
{
    width:50%;
    text-align: left;
}

#pgb-render
{
    margin-top:10px;
    width: 100%;
    padding:1%;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.pause-title
{

    display:block;
    color: #454545;
}
.pause-instrucciones, .pause-controles
{
    text-align: left;
    color:#454545;
    display: inline-block;
    /*background-color: rgba(44, 62, 80, 0.5);*/
    border-radius: 5px;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:5%;
    margin-right:5%;
    padding:1%;
    -webkit-box-shadow:     0px 0px 10px 1px rgba(44, 62, 80,0.75);
    -moz-box-shadow:        0px 0px 10px 1px rgba(44, 62, 80,0.75);
    box-shadow:             0px 0px 10px 1px rgba(44, 62, 80,0.75);
    box-sizing: border-box;
}
.pause-controles
{
    margin-left:0px;
    margin-right:0px;
    width:100%;
    
    
}
.lista
{
    width:100%;
    margin-top:1%;
    margin-bottom:1%;
}
.lista li
{
    margin-bottom:2%;
    
}
.leaderboard .btn
{
    
    margin-left:10%;
    margin-right: 10%;
}
.leaderboard .btn-ctrl
{
    margin-left:0px;
    margin-right: 0px;
    box-sizing: border-box;
    width:48%;

}
a
{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
}
a:hover
{
    transform: scale(1.4);
}
a:visited
{
    text-decoration: none;
    color:whitesmoke;

    
    
}
@media only screen and (max-width: 500px) {
    .section
    {
        width:100%;
    }
}

